<div>
  <% if user_signed_in? && (current_user.resident_phone_number.blank? || current_user.callbox_phone_number.blank?) %>
    <div>We need your phone number in order for you to send visitor passes!</div>
        <%= simple_form_for @user, url: { controller: "users", action: "add_phone_numbers", method: "patch" }, html: { class: "form-vertical" } do |f| %>
          <%= f.input :resident_phone_number, placeholder: "555-555-5555" %>
          <%= f.input :callbox_phone_number, placeholder: "555-555-5555" %>
          <%= f.button :submit %>
    <% end %>
  <% else %>
    <% if user_signed_in? %>
      <%= simple_form_for @visitor_pass, url: { controller: "visitor_passes", action: "create" }, html: { class: "form-vertical" } do |f| %>
        <%= f.input :visitor_phone_number, placeholder: "555-555-5555" %>
        <%= f.submit "Send Visitor Pass!" %>
      <% end %>

      <h3>Active visitor passes for user with id of <%= current_user.id %></h3>
      <ol id="active-visitor-passes">
        <%= render @active_visitor_passes %>
      </ol>

      <h3>Inactive visitor passes</h3>
      <ol id="inactive-visitor-passes">
        <%= render @inactive_visitor_passes %>
      </ol>
    <% end %>
  <% end %>
</div>
