<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "billybob@hotmail.biz" %>
  <%= f.label :resident_phone_number %>
  <%= f.text_field :resident_phone_number, placeholder: "555-555-5555" %>
  <%= f.label :callbox_phone_number %>
  <%= f.text_field :callbox_phone_number, placeholder: "666-666-6666" %>
  <%= f.label :resident_byi_phone_number %>
  <%= f.text_field :resident_byi_phone_number %>
  <br>
  <%= f.submit %>
<% end %>

<% if @user.stripe_customer_id.blank? %>
  <%= button_to "Pay", new_charge_path, method: 'get' %>
<% else %>
  <div id="paid">You have paid!</div>
<% end %>