<%= simple_form_for @visitor_pass, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :visitor_phone_number %>
  <%= f.input :active %>
  <%= f.input :used %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                visitor_passes_path, :class => 'btn' %>
  </div>
<% end %>
