<%- model_class = VisitorPass -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:visitor_phone_number) %>:</strong></dt>
  <dd><%= @visitor_pass.visitor_phone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @visitor_pass.active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:used) %>:</strong></dt>
  <dd><%= @visitor_pass.used %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              visitor_passes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_visitor_pass_path(@visitor_pass), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              visitor_pass_path(@visitor_pass),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
